swagger: "2.0"
info:
  description: "Documentação da API do E-Diarista. Projeto desenvolvido durante o curso multi-stack da TreinaWeb"
  version: "1.0.0"
  title: "API E-Diaristas"
  contact:
    email: "contato@treinaweb.com.br"
host: "e-diaristas.com.br"
basePath: "/api"
schemes:
  - "https"
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  Bearer:
    type: apiKey
    name: Authorization
    in: header
paths:
  /api/:
    get:
      operationId: api_list
      description: 'Retorna a lista inicial de rotas do HATEOAS'
      parameters: []
      responses:
        '200':
          description: 'Links do HATEOAS'
      tags:
        - api
    parameters: []
  '/api/disponibilidade-atendimento':
    get:
      operationId: api_cidade_disponibilidade_list
      description: 'Verifica se determinada cidade possui atendimento'
      responses:
        '200':
          description: 'Retorna se a cidade possui ou nao atendimento'
      tags:
        - api
    parameters:
      - name: cep
        in: query
        required: true
        type: string
  '/api/diarias':
    get:
      operationId: api_diarias_list
      description: 'Retona todas as diarias pertencentes ao usuario logado'
      parameters: []
      responses:
        '200':
          description: 'Retorna as diarias do usuario'
          schema:
            $ref: '#/definitions/Diaria'
        '400':
          description: 'Erro ao exibir as diarias do usuario'
      tags:
        - api
    post:
      operationId: api_diarias_create
      description: 'Cria uma nova diaria no sistema'
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/CadastrarDiaria'
      responses:
        '201':
          description: 'Diaria criada com sucesso'
          schema:
            $ref: '#/definitions/Diaria'
        '400':
          description: 'Erro no cadastro da diaria'
      tags:
        - api
    parameters: []
  '/api/diarias/{diaria_id}':
    get:
      operationId: api_diarias_read
      description: 'Lista os dados de uma diaria a partir do seu id'
      parameters:
        - name: diaria_id
          in: path
          required: true
          type: string      
      responses:
        '200':
          description: 'Dados da diaria que possui determinado ID'
          schema:
            $ref: '#/definitions/Diaria'
        '404':
          description: 'Diaria não encontrada no BD'
      tags:
        - api

  '/api/diarias/{diaria_id}/avaliacao':
    get:
      operationId: api_diarias_avaliacao_list
      description: 'Retorna as avaliacoes de uma determinada diaria'
      parameters: []
      responses:
        '200':
          description: 'Dados das avaliacoes de uma diaria'
          schema:
            $ref: '#/definitions/AvaliacaoDiaria'
        '400':
          description: 'Erro ao exibir as avaliacoes de uma diaria'
        '404':
          description: 'Diaria nao encontrada'
      tags:
        - api
    patch:
      operationId: api_diarias_avaliacao_partial_update
      description: 'Cria uma avaliacao para uma diaria'
      parameters: []
      responses:
        '200':
          description: 'Avaliacao criada com sucesso'
          schema:
            $ref: '#/definitions/AvaliacaoDiaria'
        '400':
          description: 'Erro ao criar avaliacao'
        '404':
          description: 'Diaria nao encontrada'
      tags:
        - api
    parameters:
      - name: diaria_id
        in: path
        required: true
        type: string
      - name: data
        in: body
        required: true
        schema:
          $ref: '#/definitions/AvaliacaoDiaria'
  '/api/diarias/{diaria_id}/cancelar':
    patch:
      operationId: api_diarias_cancelar_partial_update
      description: 'Cancela uma diaria no sistema'
      parameters: []
      responses:
        '200':
          description: 'Cancelamento realizado com sucesso'
          schema:
            $ref: '#/definitions/CancelarDiaria'
        '400':
          description: 'Erro no cancelamento da diaria'
        '404':
          description: 'Diaria nao encontrada'
      tags:
        - api
    parameters:
      - name: diaria_id
        in: path
        required: true
        type: string
      - name: data
        in: body
        required: true
        schema:
          $ref: '#/definitions/CancelarDiaria'
  '/api/diarias/{diaria_id}/candidatar':
    post:
      operationId: api_diarias_candidatar_create
      description: 'Candidata uma diarista à uma diaria no sistema'
      parameters: []
      responses:
        '200':
          description: 'Diarista relacionada com sucesso'
        '400':
          description: 'Erro no relacioamento da diarista'
      tags:
        - api
    parameters:
      - name: diaria_id
        in: path
        required: true
        type: string
  /api/pagamentos:
    get:
      operationId: api_pagamentos_list
      description: 'Lista de pagamentos diaria'
      parameters: []
      responses:
        '200':
          description: 'Lista de pagamentos'
          schema:
            type: array
            items:
              $ref: '#/definitions/Pagamento'
        '400':
          description: 'Erro ao listar os pagamentos'
      tags:
        - api
  '/api/diarias/{diaria_id}/confirmar-presenca':
    patch:
      operationId: api_diarias_confirmar-presenca_partial_update
      description: 'Confirma a presenca da diarista relacionada a uma diaria'
      parameters: []
      responses:
        '200':
          description: 'Presenca confirmada com sucesso'
        '400':
          description: 'Erro ao confirmar presenca da diarista'
      tags:
        - api
    parameters:
      - name: diaria_id
        in: path
        required: true
        type: string
  /api/diaristas-cidade:
    get:
      operationId: api_diaristas-cidade_list
      description: ''
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            type: array
            items:
              $ref: '#/definitions/DiaristaCidade'
      tags:
        - api
    parameters: []
  '/api/diarias/{diaria_id}/pagar':
    post:
      operationId: api_diarias_pagar_create
      description: 'Realiza o pagamento de uma diaria'
      parameters: []
      responses:
        '200':
          description: 'Diaria paga com sucesso'
        '400':
          description: 'Erro ao pagar diaria'
      tags:
        - api
    parameters:
      - name: diaria_id
        in: path
        required: true
        type: string
      - name: data
        in: body
        required: true
        schema:
          $ref: '#/definitions/PagamentoDiaria'
  /api/me:
    get:
      operationId: api_me_list
      description: 'Exibe os dados do usuario logado'
      parameters: []
      responses:
        '200':
          description: 'Dados do usuario'
          schema:
            $ref: '#/definitions/Usuario'
        '400':
          description: 'Erro ao exibir os dados do usuario'
      tags:
        - api
    parameters: []
  /api/oportunidades:
    get:
      operationId: api_oportunidades_list
      description: 'Lista as oportunidades de uma diarista'
      parameters: []
      responses:
        '200':
          description: 'Lista de oportunidades'
          schema:
            $ref: '#/definitions/Oportunidade'
        '400':
          description: 'Erro ao listar as oportunidades'
      tags:
        - api
    parameters: []
  /api/servicos:
    get:
      operationId: api_servicos_list
      description: ''
      parameters: []
      responses:
        '200':
          description: 'Dados dos servicos'
          schema:
            $ref: '#/definitions/Servico'
        '400':
          description: 'Erro ao listar os servicos'
      tags:
        - api
    parameters: []
  '/api/servicos/{servico_id}':
    get:
      operationId: api_servicos_read
      description: ''
      parameters: []
      responses:
        '200':
          description: 'Dados do servico'
          schema:
            $ref: '#/definitions/Servico'
        '400':
          description: 'Erro ao listar o servico'
        '404':
          description: 'Servico nao encontrado'
      tags:
        - api
    parameters:
      - name: servico_id
        in: path
        required: true
        type: string
  /api/usuario/cidades-atendidas:
    get:
      operationId: api_usuario_cidades-atendidas_list
      description: 'Lista as cidades atendidas por um usuario'
      parameters: []
      responses:
        '200':
          description: 'Lista de cidades de um usuario'
          schema:
            $ref: '#/definitions/RelacionarCidadeDiarista'
        '400':
          description: 'Erro ao exibir as cidades da diarista'
      tags:
        - api
    put:
      operationId: api_usuario_cidades-atendidas_update
      description: 'Atualiza as cidades atendidas pela diarista'
      parameters:
      - name: data
        in: body
        required: true
        schema:
          $ref: '#/definitions/RelacionarCidadeDiarista'
      responses:
        '200':
          description: 'Cidades atualizadas com sucesso'
        '400':
          description: 'Erro ao atualizar as cidades do usuario'
      tags:
        - api
    parameters: []
  /api/usuario/endereco:
    get:
      operationId: api_usuario_endereco_list
      description: 'Exibe o endereco do usuario logado'
      parameters: []
      responses:
        '200':
          description: 'Dados do endereco do usuario'
          schema:
            $ref: '#/definitions/EnderecoDiarista'
        '400':
          description: 'Erro ao exibir o endereco do usuario'
      tags:
        - api
    put:
      operationId: api_usuario_endereco_update
      description: 'Altera o endereco do usuario logado'
      parameters:
      - name: data
        in: body
        required: true
        schema:
          $ref: '#/definitions/EnderecoDiarista'
      responses:
        '200':
          description: 'Endereco alterado com sucesso'
          schema:
            $ref: '#/definitions/EnderecoDiarista'
        '400':
          description: 'Erro ao alterar o endereco do usuario'
      tags:
        - api
    parameters: []
  /api/endereco-cep:
    get:
      operationId: api_endereco-cep_list
      description: ''
      parameters:
      - name: cep
        in: query
        required: true
        type: string
      responses:
        '200':
          description: 'Dados do endereco a partir do CEP'
          schema:
            $ref: '#/definitions/EnderecoCep'
        '400':
          description: 'Erro ao buscar o CEP'
        '404':
          description: 'CEP nao encontrado'
      tags:
        - api
    parameters: []
  /api/usuarios:
    post:
      operationId: api_usuarios_create
      description: 'Cadastra um usuario no sistema'
      parameters: 
      - name: data
        in: body
        required: true
        schema:
          $ref: '#/definitions/Usuario'
      responses:
        '201':
          description: 'Usuario cadastrado com sucesso'
          schema:
            $ref: '#/definitions/Usuario'
        '400':
          description: 'Erro ao cadastrar o usuario'
      tags:
        - api
    put:
      operationId: api_usuarios_update
      description: ''
      parameters:
      - name: data
        in: body
        required: true
        schema:
          $ref: '#/definitions/Usuario'
      responses:
        '200':
          description: 'Usuario editado com sucesso'
          schema:
            $ref: '#/definitions/EditarUsuario'
        '400':
          description: 'Erro ao editar o usuario'
      tags:
        - api
    parameters: []
  /api/usuarios/foto:
    post:
      operationId: api_usuarios_foto_create
      description: 'Cadastra a foto do usuario'
      parameters: 
      - name: data
        in: body
        required: true
        schema:
          $ref: '#/definitions/FotoUsuario'
      responses:
        '200':
          description: 'Foto cadastrada com sucesso'
          schema:
            $ref: '#/definitions/FotoUsuario'
        '400':
          description: 'Erro ao cadastrar a foto'
      tags:
        - api
    parameters: []
  /auth/logout/:
    post:
      operationId: auth_logout_create
      description: 'Realiza o logout do usuario, adicionando o refresh_token na lista negra'
      parameters:
      - name: data
        in: body
        required: true
        schema:
          $ref: '#/definitions/TokenRefresh'
      responses:
        '200':
          description: 'Logout realizado com sucesso'
        '400':
          description: ''
      tags:
        - auth
    parameters: []
  /auth/token/:
    post:
      operationId: auth_token_create
      description: |-
        Cria um token com base nas credenciais do usuario e o retorna.
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/TokenObtainPair'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/TokenObtainPair'
      tags:
        - auth
    parameters: []
  /auth/token/refresh/:
    post:
      operationId: auth_token_refresh_create
      description: |-
        Cria um novo token de acesso com base em um refresh token do usuario.
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/TokenRefresh'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/TokenRefresh'
      tags:
        - auth
    parameters: []
definitions:
  Diarista:
    required:
      - nome_completo
      - cpf
      - nascimento
    type: object
    properties:
      id:
        title: ID
        type: integer
        readOnly: true
      nome_completo:
        title: Nome completo
        type: string
        maxLength: 255
        minLength: 1
      cpf:
        title: Cpf
        type: string
        maxLength: 11
        minLength: 1
      nascimento:
        title: Nascimento
        type: string
        format: date
      email:
        title: Email
        type: string
        format: email
        maxLength: 254
        x-nullable: true
      foto:
        title: Foto
        type: string
        readOnly: true
        x-nullable: true
        format: uri
      telefone:
        title: Telefone
        type: string
        maxLength: 11
        x-nullable: true
      tipo_usuario:
        title: Tipo usuario
        type: integer
        enum:
          - 1
          - 2
        x-nullable: true
      reputacao:
        title: Reputacao
        type: number
        x-nullable: true
      chave_pix:
        title: Chave pix
        type: string
        maxLength: 255
        x-nullable: true
  Pagamento:
    required:
      - valor
    type: object
    properties:
      id:
        title: ID
        type: integer
        readOnly: true
      status:
        title: Status
        type: string
        readOnly: true
      valor:
        title: Valor
        type: number
      valor_deposito:
        title: Valor deposito
        type: string
        readOnly: true
      created_at:
        title: Created at
        type: string
        format: date-time
        readOnly: true
  UsuarioDiaria:
    required:
      - nome_completo
      - nascimento
    type: object
    properties:
      id:
        title: ID
        type: integer
        readOnly: true
      nome_completo:
        title: Nome completo
        type: string
        maxLength: 255
        minLength: 1
      nascimento:
        title: Nascimento
        type: string
        format: date
      foto_usuario:
        title: Foto usuario
        type: string
        readOnly: true
        x-nullable: true
        format: uri
      telefone:
        title: Telefone
        type: string
        maxLength: 11
        x-nullable: true
      tipo_usuario:
        title: Tipo usuario
        type: integer
        enum:
          - 1
          - 2
        x-nullable: true
      reputacao:
        title: Reputacao
        type: number
        x-nullable: true
  FotoUsuario:
    type: object
    properties:
      foto_usuario:
        title: Foto usuario
        type: string
        readOnly: true
        format: uri
  Diaria:
    required:
      - data_atendimento
      - tempo_atendimento
      - preco
      - bairro
      - cep
      - cidade
      - estado
      - quantidade_quartos
      - quantidade_salas
      - quantidade_cozinhas
      - quantidade_banheiros
      - quantidade_quintais
      - quantidade_outros
      - servico
    type: object
    properties:
      id:
        title: ID
        type: integer
        readOnly: true
      cliente:
        $ref: '#/definitions/UsuarioDiaria'
      status:
        title: Status
        type: integer
        readOnly: true
      valor_comissao:
        title: Valor comissao
        type: number
        readOnly: true
      motivo_cancelamento:
        title: Motivo cancelamento
        type: string
        readOnly: true
        minLength: 1
      diarista:
        $ref: '#/definitions/UsuarioDiaria'
      nome_servico:
        title: Nome servico
        type: string
        readOnly: true
      links:
        title: Links
        type: string
        readOnly: true
      data_atendimento:
        title: Data atendimento
        type: string
        format: date-time
      tempo_atendimento:
        title: Tempo atendimento
        type: integer
        maximum: 2147483647
        minimum: -2147483648
      preco:
        title: Preco
        type: number
      logradouro:
        title: Logradouro
        type: string
        maxLength: 60
        x-nullable: true
      numero:
        title: Numero
        type: integer
        maximum: 2147483647
        minimum: -2147483648
        x-nullable: true
      bairro:
        title: Bairro
        type: string
        maxLength: 30
        minLength: 1
      complemento:
        title: Complemento
        type: string
        maxLength: 100
        x-nullable: true
      cep:
        title: Cep
        type: string
        maxLength: 10
        minLength: 1
      cidade:
        title: Cidade
        type: string
        maxLength: 30
        minLength: 1
      estado:
        title: Estado
        type: string
        maxLength: 2
        minLength: 1
      codigo_ibge:
        title: Codigo ibge
        type: integer
        maximum: 2147483647
        minimum: -2147483648
        x-nullable: true
      quantidade_quartos:
        title: Quantidade quartos
        type: integer
        maximum: 2147483647
        minimum: -2147483648
      quantidade_salas:
        title: Quantidade salas
        type: integer
        maximum: 2147483647
        minimum: -2147483648
      quantidade_cozinhas:
        title: Quantidade cozinhas
        type: integer
        maximum: 2147483647
        minimum: -2147483648
      quantidade_banheiros:
        title: Quantidade banheiros
        type: integer
        maximum: 2147483647
        minimum: -2147483648
      quantidade_quintais:
        title: Quantidade quintais
        type: integer
        maximum: 2147483647
        minimum: -2147483648
      quantidade_outros:
        title: Quantidade outros
        type: integer
        maximum: 2147483647
        minimum: -2147483648
      observacoes:
        title: Observacoes
        type: string
      created_at:
        title: Created at
        type: string
        format: date-time
        readOnly: true
      updated_at:
        title: Updated at
        type: string
        format: date-time
        readOnly: true
      servico:
        title: Servico
        type: integer
  CadastrarDiaria:
    required:
      - data_atendimento
      - tempo_atendimento
      - preco
      - bairro
      - cep
      - cidade
      - estado
      - quantidade_quartos
      - quantidade_salas
      - quantidade_cozinhas
      - quantidade_banheiros
      - quantidade_quintais
      - quantidade_outros
      - servico
    type: object
    properties:
      id:
        title: ID
        type: integer
        readOnly: true
      status:
        title: Status
        type: integer
        readOnly: true
      valor_comissao:
        title: Valor comissao
        type: number
        readOnly: true
      motivo_cancelamento:
        title: Motivo cancelamento
        type: string
        readOnly: true
        minLength: 1
      nome_servico:
        title: Nome servico
        type: string
        readOnly: true
      links:
        title: Links
        type: string
        readOnly: true
      data_atendimento:
        title: Data atendimento
        type: string
        format: date-time
      tempo_atendimento:
        title: Tempo atendimento
        type: integer
        maximum: 2147483647
        minimum: -2147483648
      preco:
        title: Preco
        type: number
      logradouro:
        title: Logradouro
        type: string
        maxLength: 60
        x-nullable: true
      numero:
        title: Numero
        type: integer
        maximum: 2147483647
        minimum: -2147483648
        x-nullable: true
      bairro:
        title: Bairro
        type: string
        maxLength: 30
        minLength: 1
      complemento:
        title: Complemento
        type: string
        maxLength: 100
        x-nullable: true
      cep:
        title: Cep
        type: string
        maxLength: 10
        minLength: 1
      cidade:
        title: Cidade
        type: string
        maxLength: 30
        minLength: 1
      estado:
        title: Estado
        type: string
        maxLength: 2
        minLength: 1
      codigo_ibge:
        title: Codigo ibge
        type: integer
        maximum: 2147483647
        minimum: -2147483648
        x-nullable: true
      quantidade_quartos:
        title: Quantidade quartos
        type: integer
        maximum: 2147483647
        minimum: -2147483648
      quantidade_salas:
        title: Quantidade salas
        type: integer
        maximum: 2147483647
        minimum: -2147483648
      quantidade_cozinhas:
        title: Quantidade cozinhas
        type: integer
        maximum: 2147483647
        minimum: -2147483648
      quantidade_banheiros:
        title: Quantidade banheiros
        type: integer
        maximum: 2147483647
        minimum: -2147483648
      quantidade_quintais:
        title: Quantidade quintais
        type: integer
        maximum: 2147483647
        minimum: -2147483648
      quantidade_outros:
        title: Quantidade outros
        type: integer
        maximum: 2147483647
        minimum: -2147483648
      observacoes:
        title: Observacoes
        type: string
      created_at:
        title: Created at
        type: string
        format: date-time
        readOnly: true
      updated_at:
        title: Updated at
        type: string
        format: date-time
        readOnly: true
      servico:
        title: Servico
        type: integer
  AvaliacaoDiaria:
    required:
      - descricao
      - nota
    type: object
    properties:
      descricao:
        title: Descricao
        type: string
        minLength: 1
      nota:
        title: Nota
        type: number
      avaliado:
        title: Avaliado
        type: integer
        readOnly: true
      avaliador:
        title: Avaliador
        type: integer
        readOnly: true
      diaria:
        title: Diaria
        type: integer
        readOnly: true
  DiaristaCidade:
    required:
      - nome_completo
    type: object
    properties:
      nome_completo:
        title: Nome completo
        type: string
        maxLength: 255
        minLength: 1
      reputacao:
        title: Reputacao
        type: number
        x-nullable: true
      foto_usuario:
        title: Foto usuario
        type: string
        readOnly: true
        x-nullable: true
        format: uri
      cidade:
        title: Cidade
        type: string
        readOnly: true
  CancelarDiaria:
    required:
      - motivo_cancelamento
    type: object
    properties:
      motivo_cancelamento:
        title: Motivo cancelamento
        type: string
        minLength: 1
  ClienteOportunidade:
    required:
      - nome_completo
      - nascimento
    type: object
    properties:
      id:
        title: ID
        type: integer
        readOnly: true
      nome_completo:
        title: Nome completo
        type: string
        maxLength: 255
        minLength: 1
      nascimento:
        title: Nascimento
        type: string
        format: date
      foto_usuario:
        title: Foto usuario
        type: string
        readOnly: true
        x-nullable: true
        format: uri
      telefone:
        title: Telefone
        type: string
        maxLength: 11
        x-nullable: true
      tipo_usuario:
        title: Tipo usuario
        type: integer
        enum:
          - 1
          - 2
        x-nullable: true
      reputacao:
        title: Reputacao
        type: number
        x-nullable: true
      chave_pix:
        title: Chave pix
        type: string
        maxLength: 255
        x-nullable: true
  
  Oportunidade:
    required:
      - cliente
      - data_atendimento
      - tempo_atendimento
      - status
      - preco
      - valor_comissao
      - bairro
      - cep
      - cidade
      - estado
      - quantidade_quartos
      - quantidade_salas
      - quantidade_cozinhas
      - quantidade_banheiros
      - quantidade_quintais
      - quantidade_outros
      - servico
    type: object
    properties:
      id:
        title: ID
        type: integer
        readOnly: true
      cliente:
        $ref: '#/definitions/ClienteOportunidade'
      links:
        title: Links
        type: string
        readOnly: true
      avaliacoes_cliente:
        title: Avaliacoes cliente
        type: string
        readOnly: true
      nome_servico:
        title: Nome servico
        type: string
        readOnly: true
      data_atendimento:
        title: Data atendimento
        type: string
        format: date-time
      tempo_atendimento:
        title: Tempo atendimento
        type: integer
        maximum: 2147483647
        minimum: -2147483648
      status:
        title: Status
        type: integer
        enum:
          - 1
          - 2
          - 3
          - 4
          - 5
          - 6
          - 7
      preco:
        title: Preco
        type: number
      valor_comissao:
        title: Valor comissao
        type: number
      logradouro:
        title: Logradouro
        type: string
        maxLength: 60
        x-nullable: true
      numero:
        title: Numero
        type: integer
        maximum: 2147483647
        minimum: -2147483648
        x-nullable: true
      bairro:
        title: Bairro
        type: string
        maxLength: 30
        minLength: 1
      complemento:
        title: Complemento
        type: string
        maxLength: 100
        x-nullable: true
      cep:
        title: Cep
        type: string
        maxLength: 10
        minLength: 1
      cidade:
        title: Cidade
        type: string
        maxLength: 30
        minLength: 1
      estado:
        title: Estado
        type: string
        maxLength: 2
        minLength: 1
      codigo_ibge:
        title: Codigo ibge
        type: integer
        maximum: 2147483647
        minimum: -2147483648
        x-nullable: true
      quantidade_quartos:
        title: Quantidade quartos
        type: integer
        maximum: 2147483647
        minimum: -2147483648
      quantidade_salas:
        title: Quantidade salas
        type: integer
        maximum: 2147483647
        minimum: -2147483648
      quantidade_cozinhas:
        title: Quantidade cozinhas
        type: integer
        maximum: 2147483647
        minimum: -2147483648
      quantidade_banheiros:
        title: Quantidade banheiros
        type: integer
        maximum: 2147483647
        minimum: -2147483648
      quantidade_quintais:
        title: Quantidade quintais
        type: integer
        maximum: 2147483647
        minimum: -2147483648
      quantidade_outros:
        title: Quantidade outros
        type: integer
        maximum: 2147483647
        minimum: -2147483648
      observacoes:
        title: Observacoes
        type: string
      motivo_cancelamento:
        title: Motivo cancelamento
        type: string
        x-nullable: true
      created_at:
        title: Created at
        type: string
        format: date-time
        readOnly: true
      updated_at:
        title: Updated at
        type: string
        format: date-time
        readOnly: true
      diarista:
        title: Diarista
        type: integer
        x-nullable: true
      servico:
        title: Servico
        type: integer
      candidatas:
        type: array
        items:
          type: integer
        uniqueItems: true
  Servico:
    required:
      - nome
      - valor_minimo
      - qtd_horas
      - porcentagem_comissao
      - horas_quarto
      - valor_quarto
      - horas_sala
      - valor_sala
      - horas_banheiro
      - valor_banheiro
      - horas_cozinha
      - valor_cozinha
      - horas_quintal
      - valor_quintal
      - horas_outros
      - valor_outros
    type: object
    properties:
      id:
        title: ID
        type: integer
        readOnly: true
      nome:
        title: Nome
        type: string
        maxLength: 50
        minLength: 1
      valor_minimo:
        title: Valor minimo
        type: number
      qtd_horas:
        title: Qtd horas
        type: integer
        maximum: 2147483647
        minimum: -2147483648
      porcentagem_comissao:
        title: Porcentagem comissao
        type: number
      horas_quarto:
        title: Horas quarto
        type: integer
        maximum: 2147483647
        minimum: -2147483648
      valor_quarto:
        title: Valor quarto
        type: number
      horas_sala:
        title: Horas sala
        type: integer
        maximum: 2147483647
        minimum: -2147483648
      valor_sala:
        title: Valor sala
        type: number
      horas_banheiro:
        title: Horas banheiro
        type: integer
        maximum: 2147483647
        minimum: -2147483648
      valor_banheiro:
        title: Valor banheiro
        type: number
      horas_cozinha:
        title: Horas cozinha
        type: integer
        maximum: 2147483647
        minimum: -2147483648
      valor_cozinha:
        title: Valor cozinha
        type: number
      horas_quintal:
        title: Horas quintal
        type: integer
        maximum: 2147483647
        minimum: -2147483648
      valor_quintal:
        title: Valor quintal
        type: number
      horas_outros:
        title: Horas outros
        type: integer
        maximum: 2147483647
        minimum: -2147483648
      valor_outros:
        title: Valor outros
        type: number
      icone:
        title: Icone
        type: string
        enum:
          - twf-cleaning-1
          - twf-cleaning-2
          - twf-cleaning-3
        x-nullable: true
      posicao:
        title: Posicao
        type: integer
        maximum: 2147483647
        minimum: -2147483648
        x-nullable: true
  RelacionarCidadeDiarista:
    type: object
    properties:
      cidades:
        type: array
        items:
          type: string
          x-nullable: true
  EnderecoDiarista:
    required:
      - numero
      - bairro
      - complemento
      - cep
      - cidade
      - estado
    type: object
    properties:
      id:
        title: ID
        type: integer
        readOnly: true
      numero:
        title: Numero
        type: string
        minLength: 1
      logradouro:
        title: Logradouro
        type: string
        maxLength: 60
        x-nullable: true
      bairro:
        title: Bairro
        type: string
        maxLength: 30
        minLength: 1
      complemento:
        title: Complemento
        type: string
        maxLength: 100
        minLength: 1
      cep:
        title: Cep
        type: string
        maxLength: 10
        minLength: 1
      cidade:
        title: Cidade
        type: string
        maxLength: 30
        minLength: 1
      estado:
        title: Estado
        type: string
        maxLength: 2
        minLength: 1
  EnderecoCep:
    required:
      - bairro
      - complemento
      - cep
      - localidade
      - logradouro
      - uf
      - ibge
    type: object
    properties:
      id:
        title: ID
        type: integer
        readOnly: true
      numero:
        title: Numero
        type: string
        minLength: 1
      logradouro:
        title: Logradouro
        type: string
        maxLength: 60
        x-nullable: true
      bairro:
        title: Bairro
        type: string
        maxLength: 30
        minLength: 1
      complemento:
        title: Complemento
        type: string
        maxLength: 100
        minLength: 1
      cep:
        title: Cep
        type: string
        maxLength: 10
        minLength: 1
      cidade:
        title: Cidade
        type: string
        maxLength: 30
        minLength: 1
      estado:
        title: Estado
        type: string
        maxLength: 2
        minLength: 1
  Usuario:
    required:
      - password_confirmation
      - tipo_usuario
      - password
      - nome_completo
      - cpf
      - nascimento
    type: object
    properties:
      id:
        title: ID
        type: integer
        readOnly: true
      password_confirmation:
        title: Password confirmation
        type: string
        minLength: 1
      links:
        title: Links
        type: string
        readOnly: true
      tipo_usuario:
        title: Tipo usuario
        type: integer
        enum:
          - 1
          - 2
      token:
        title: Token
        type: string
        readOnly: true
      password:
        title: Password
        type: string
        minLength: 1
      last_login:
        title: Último login
        type: string
        format: date-time
        x-nullable: true
      nome_completo:
        title: Nome completo
        type: string
        maxLength: 255
        minLength: 1
      cpf:
        title: Cpf
        type: string
        maxLength: 11
        minLength: 1
      nascimento:
        title: Nascimento
        type: string
        format: date
      email:
        title: Email
        type: string
        format: email
        maxLength: 254
        x-nullable: true
      foto:
        title: Foto
        type: string
        readOnly: true
        x-nullable: true
        format: uri
      telefone:
        title: Telefone
        type: string
        maxLength: 11
        x-nullable: true
      reputacao:
        title: Reputacao
        type: number
        x-nullable: true
      chave_pix:
        title: Chave pix
        type: string
        maxLength: 255
        x-nullable: true
  EditarUsuario:
    required:
      - nome_completo
      - cpf
      - nascimento
    type: object
    properties:
      nome_completo:
        title: Nome completo
        type: string
        maxLength: 255
        minLength: 1
      cpf:
        title: Cpf
        type: string
        maxLength: 11
        minLength: 1
      nascimento:
        title: Nascimento
        type: string
        format: date
      email:
        title: Email
        type: string
        format: email
        maxLength: 254
        x-nullable: true
      foto:
        title: Foto
        type: string
        readOnly: true
        x-nullable: true
        format: uri
      telefone:
        title: Telefone
        type: string
        maxLength: 11
        x-nullable: true
      links:
        title: Links
        type: string
        readOnly: true
  TokenObtainPair:
    required:
      - email
      - password
    type: object
    properties:
      email:
        title: Email
        type: string
        minLength: 1
      password:
        title: Password
        type: string
        minLength: 1
  TokenRefresh:
    required:
      - refresh
    type: object
    properties:
      refresh:
        title: Refresh
        type: string
        minLength: 1
  PagamentoDiaria:
    required:
      - card_hash
    type: string
    properties:
      card_hash:
        title: card_hash
        type: string
        minLength: 1
